apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-web-application
  labels:
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-web-application
      version: v1
  template:
    metadata:
      labels:
        app: todo-web-application
        version: v1
    spec:
      containers:
        - name: todo-web-application
          image: ravisankar/todo-web-application-h2:0.0.1-SNAPSHOT
          resources:
            requests:
              cpu: "100m"
          imagePullPolicy: IfNotPresent #Always
          ports:
            - containerPort: 8080